html,
body {
    height: 100%;
}

body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

.p5Canvas {
    margin-left: auto;
    margin-right: auto;
}