html,
body {
    height: 100%;
}

body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}


canvas {
    margin-left: auto;
    margin-right: auto;
    width: 99vw;
}

input {
    height: 75px;
    width: 100%;
}

button {
    width: 100%;
    height: 40px;
}

.Control {
    display: flex;
    flex-flow: column;
}
