html,
body {
    height: 100%;
}

body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
    background-image: linear-gradient(to bottom, #051937, #36214f, #6a1f57, #9a1c4d, #bb3232);
    overflow-x: hidden;
    width: 100%
}

canvas {
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 75px;
    width: 100%;
    background: transparent;
    border: transparent;
}

button{
    width: 25%;
    height: 60px;
    margin: 19px 10vw;
    border-radius: 50px;
    background: #bbbbbb20;
    font-size: 100%;
    color: #fff;
    font-family: century-gothic;
    text-transform: full-width uppercase;
}


#Control {

    margin: 0 -20px;

}

#Select{
    margin: 19px 10vw;
    display: flex;
}

#uploadInput{
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #bbbbbb20;
    color: transparent;

}

#canvas2{
    height: 100%;
}
